*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}
/* ///////////////////////// OVERLAY ////////////////////////// */
.carousel-container::before{
  position: absolute;
  z-index: 10;
  width: 20.3%;
  height: 83%;
  left: 0;
  top: 0;
  content: '';
  background-color: rgba(0,0,0,0.5);
}

.carousel-container::after{
  position: absolute;
  z-index: 10;
  width: 20.3%;
  height: 83%;
  right: 0;
  top: 0;
  content: '';
  background-color: rgba(0,0,0,0.5);
}

/* ///////////////////////// carousel ////////////////////////// */

.carousel-container{
  position: relative;
  width: 70%;
  margin: auto;
  overflow: hidden;
  
}

.carousel-slide{
  /* width: 100%; */
  margin: auto;
  display: flex;
  /* justify-content: center; */
  margin-left: -423px;
}
.carousel-slide div{
  height: 480px;
  /* width: 70%; */
}

/* .carousel-image{
  
  width: 400px;
} */

/* ///////////////////////// buttons ////////////////////////// */


#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  z-index: 20;
  margin-top: -43px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  /* border-radius: 0 3px 3px 0; */
  user-select: none;
  
}
#next {
  right: 210px;
  
}

#prev {
  left: 210px;

}

#lowerSliderNext, #lowerSliderPrev{
  cursor: pointer;
  position: absolute;
  top: 30%;
  color: white;
  width: auto;
  z-index: 20;
  font-size: 30px;
  /* visibility: hidden; */
  opacity: 0;
  transition: 0.5s;
  
}

.lower-slider:hover #lowerSliderPrev, .lower-slider:hover #lowerSliderNext{
  /* visibility: visible; */
  opacity: 1;

}

#lowerSliderNext{
  left: 620px;
}


/* ///////////////////////// dots ////////////////////////// */
.lower-slider{
  width: 642px;
  overflow: hidden;
  margin: auto;
  position: relative;
  background: black;
}
.thumb-bar{
  display: flex;
  
  
}

.thumb-bar img {
  display: block;
  width: 20%;
  /* float: left; */
  cursor: pointer;
  
  opacity: 0.7;
  
  /* position: relative; */
}

/* ///////////////////////// image-count ////////////////////////// */
.image-count{
  position: absolute;
  top: 420px;
  right: 300px;
  z-index: 10;
}

.image-count span{
  font-size: 25px;
  color: white;
}

/* ///////////////////////// image-info ////////////////////////// */
.carousel-slide div h2{
  color: white;
  margin-top: -90px;
  margin-left: 40px;
  z-index: 10;
}
.carousel-slide div p{
  color: white;
  margin-left: 40px;
  width: 250px;
}